/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body {
    background-image: url("./bg-intro-desktop.png");
    background-color: rgb(212, 88, 88);
}
.flex_item1 > * {
    color: whitesmoke;
    font-family: cursive;
}

main {
    width: 50%;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}
main > * {
    flex: 1;
}

form {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 100%;
}

form > * {
    padding: 20px;
    margin: 15px;
    border: none;
    width: 75%;
}

.p2 {
    background-color: rgb(2, 49, 151);
    border-radius: 10px;
    color: whitesmoke;
    font-family: cursive;
    padding: 20px 30px 20px 30px;
}
.p3 {
    background-color: rgb(33, 187, 97);
    border-radius: 10px;
    color: white;
    font-family: cursive;
    text-align: center;
}

.p4 {
    color: rgba(128, 128, 128, 0.5);
    text-align: center;
}

.p4 > * {
    color: rgb(212, 88, 88);
}

@media screen and (max-width: 600px) {
    body {
        background-image: url("./bg-intro-mobile.png");
    }
    main {
        display: flex;
        flex-flow: column;
    }
}